* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(239, 239, 168);
  /* Most properties related to fonts inherits.*/
  font-family: arial;
  padding: 50px;
}
h1 {
  font-size: 35px;
  margin-bottom: 25px;
}
h2 {
  margin-bottom: 20px;
  text-align: center;
}
p {
  margin-bottom: 20px;
}
.first {
  color: brown;
}
#your-name {
  background-color: burlywood;
  border: 5px solid #444; /* not inherited*/
  width: 400px;
  padding: 25px;
  margin-top: 30px;
}
input,
button {
  padding: 10px;
  font-size: 16px;
}
a {
  background-color: aquamarine;
}
#your-name h2 {
  color: olivedrab;
}
#course-image {
  width: 300px;
}
